@use '../styles/colors.scss' as *;
@import '../styles/loading-animation.scss';

.container {
    border-radius: 16px;
    margin: 4px;
    max-width: 400px;
    width: 400px;
    -webkit-box-shadow: 4px 4px 8px 0px $shadow-color; 
    box-shadow: 4px 4px 8px 0px $shadow-color;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.cardTop {
    padding: 16px 16px;
    flex: 1;
}

.image {
    width: 100%;
    height: 320px;
    object-fit: fill;
    position: relative;
    overflow: hidden;
    display: flex;

    img {
        z-index: 1000;
    }
}

.dark {
    color: $soft-fur-brown;
    background-color: $heath-green;
}

.loader {
    @include loading-spinner;
}