.container {
    margin: 8px auto ;
    border-radius: 16px;
    -webkit-box-shadow: 4px 4px 8px 0px #00000055; 
    box-shadow: 4px 4px 8px 0px #00000055;
    display: flex;
    flex-wrap: wrap;
    min-height: 400px;
    /* max-height: 400px; */
    max-width: 800px;
    overflow: hidden;
}

.highlightLeft {
    padding: 16px 32px 16px 16px;
    min-width: 200px;
}

.highlightRight {
    padding: 8px;
    flex: 1;
    min-width: 300px;
    min-height: 400px;
    position: relative;
}

.image {
    width: 100%;
    height: 320px;
    object-fit: fill;
    position: relative;
    overflow: hidden;
}

.dark {
    color: white;
    background-color: #2d2f33;
}

.title {
    text-align: center;
}

.description {
    display: none;
}

@media only screen and (min-width: 500px)  {
    .highlightLeft {
        flex: 0.5;
        min-height: 200px;
    }

    .description {
        display: block;
    }
}