$theme-color: #004a77;
$background-color: #2d2f33;
$shadow-color: #00000055;

$marmot-gray: #3a3c40;
$dark-forest-green: #111612;
$heath-green: #344739;
$jungle-green: #257c3c;
$paw-print-brown: #4f2e14;
$wet-nose-black: #1c1916;
$soft-fur-brown: #c4b89b;
$bubbles-galore-white: #ffffff;